body {
    height: 100vh;
}

button {
    border-radius: 0.5em;
}

img {
    border-radius: 50%;
}

h3 {
    margin-bottom: 1.5em;
}

h4 {
    margin-bottom: 1.5em;
}

h5 {
    margin-bottom: 1em;
}

#introtext {
    margin-bottom: 2.5em;
}

#postbox {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

input {
    width: 20em;
    margin-bottom: 1em;
}

textarea {
    height: 5em;
    width: 20em;
    margin-bottom: 1em;
}

.postbutton {
    width: 4em;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

#allposts {
    width: 30em;
    border-radius: 0.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    background-color: rgb(245, 243, 243);
}

#postpicture {
    width: 3em;
    height: 3em;
    object-fit: cover;
    margin-top: 1em;
    margin-left: 1em;
}

#postusername {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.25em;
}

#posttitle {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 0.5em;
}

#post {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 1.5em;
}

#allcomments {
    width: 25em;
    margin-left: 0.5em;
}

#commentpicture {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
}

#commentusername {
    display: inline-block;
    margin-left: 0.25em;
}

#comment {
    margin-top: 0.5em;
}

.commentbox {
    margin-top: 1.5em;
    margin-left: 0.5em;
    padding-bottom: 0.5em;
}

#mypagepfp {
    width: 12em;
    height: 12em;
    object-fit: cover;
}

.mypagebutton {
    border-radius: 0.5em;
}

#editprofilebutton {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 5em;
}

#canceleditbutton {
    width: 5em;
}

.loginregisterbutton {
    margin-top: 0.5em;
    margin-bottom: 1em;
}